// Renk Değişkenleri
$backgroundcolor-grey: #f7f8fa;
$button-blue: #1ea1f2;
$black: #000000;
$carbon: #333333;
$trolley-grey: #828282;
$ıce-winddale: #e7ecf0;
$malmö-FF: #a5d9fa;
$white: #ffffff;
$steam: #ddd;
$nickel: #929292;
$pico-metal: #c2c4c6;
$zhēn-zhū-bái-pearl: #f6f8fa;
$Windswept-Beach: #e2e4e6;
$Noghrei-Silver: #bdbdbd;
$Morning-Haze: #e1e8ed;
$Space-Convoy: #657786;

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    // overflow: auto;
}

.sidebar {
        flex: 0 0 22%;
    /* Yan barın genişliği */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $white;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 0.5px solid $steam;
    /* Sağ tarafa ince çizgi*/

    &__button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 10px;
        margin: 5px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 16px;

        &--twitter {
            color: $button-blue;
            font-size: 32px;
            padding: 5px;
            margin: 10px 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__button-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__text {
        color: $carbon;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    &__icon {
        font-size: 24px;
    }

    &__tweet-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 32px;
        width: 150px;
        background-color:$button-blue;
        color: $white;
    }
}

.content {
    // flex: 0 0 53%;
    /* Orta kısmın genişliği */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $white;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 0.5px solid $steam;
    /* Sağ tarafa ince çizgi*/
    // border-left: 0.5px solid $line-color-steam;
    // /* Sol tarafa ince çizgi*/

    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 16px;
        border-bottom: 1px solid $steam;
        /* Header altına çizgi */
    }

    &__navbar {
        display: flex;
        align-items: center;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        color: $black;
    }

    &__star {
        display: flex;
        align-items: center;

        &-image {
            width: 24px;
            height: 24px;
        }
    }

    &__post-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        border-bottom: 9px solid $ıce-winddale;
        /* Altına çizgi */
        padding-bottom: 10px;
        /* Çizgiye biraz boşluk */
    }

    &__post {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 8px;

        &-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        &-text {
            font-size: 16px;
            color: $trolley-grey;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;

        }
    }

    .content__main {
        padding: 20px;

        &-section {
            margin-bottom: 15px;

            &-user {
                display: flex;
                align-items: center;
                background-color: $white;
                border-radius: 8px;

                &-info {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    &-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    &-name {
                        font-size: 16px;
                    }
                }

                &-certified-img {
                    width: 21px;
                    height: 21px;
                    margin-right: 10px;
                }

                &-time {
                    font-size: 16px;
                    color: $trolley-grey;
                }
            }
        }

        &-divider {
            border: none;
            border-top: 1px solid $steam;
            margin: 20px 0;
        }

        &-user2 {
            display: flex;
            align-items: center;
            background-color: $white;
            border-radius: 8px;
            padding: 10px;
    
            &-info {
                display: flex;
                align-items: center;
                margin-right: 10px;
    
                &-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
    
                &-name {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
    
            &-certified-img {
                width: 21px;
                height: 21px;
                margin-right: 10px;
            }
    
            &-meta {
                display: flex;
                align-items: center;
    
                &-time {
                    font-size: 14px;
                    color: $trolley-grey;
                    margin-right: 5px;
                }
            }
        }
    }

    .content__main-tweet {
        margin-left: 51px;
        display: flex;
        flex-direction: column;
        gap: 11px;

        &-text {
            font-size: 16px;
            line-height: 1.5;
            display: block;
            color: $carbon;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;

            &-hashtag {
                color: $button-blue;
            }
        }

        &-img {
            margin-top: 10px;
            width: 100%;
            border-radius: 8px;
        }

        &-text-hashtag-actions {
            display: flex;
            justify-content: space-around;
            margin-top: 11px;

            &-img {
                width: 16px;
                height: 16px;
                cursor: pointer;
                // &:hover {
                //     opacity: 0.8;
                // }
            }
        }
    }

}

.content__toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin-left: 9%;

    &-img {
        width: 24px;
        height: 24px;
    }

    &-extra {
        display: flex;
        gap: 15px;
        margin-left: 45%;
    }

    .content__toolbar-extra {
        display: flex;
        align-items: center;

        &-img {
            margin: 0 10px;
        }

        .vertical-line {
            width: 1px;
            height: 24px; // Çizginin yüksekliği
            background-color: $Noghrei-Silver;
        }

        &-button {
            width: 98px;
            height: 42px;
            background-color: $malmö-FF;
            border: none;
            border-radius: 20px;
            cursor: pointer;

            // &:hover {
            //     background-color: #1a91da;
            // }

            &-text {
                color: $white;
            }
        }
    }

}


.right {
    flex: 0 0 26%;
    /* Sağ kısım genişliği */
    background-color: $white;
    padding: 1rem;
    box-sizing: border-box;

    &__search {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border-radius: 32px;
        background-color: $ıce-winddale;
        /* Arka plan rengi */

        &-icon {
            font-size: 20px;

            &.custom-icon {
                color: $trolley-grey; // İstediğiniz renkle değiştirebilirsiniz
            }
        }
    }

    &__search-input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 13px;
        padding: 8px;
        border-radius: 32px;
        background-color: $ıce-winddale;
    }

    &__search-button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

    &__trends {
        margin-top: 16px;
        background-color: $zhēn-zhū-bái-pearl;
        padding: 16px;
        border-radius: 16px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-title {
            font-size: 1.2em;
            font-weight: bold;
            color: #16161a; // Yazı rengi
        }

        &-settings {
            font-size: 1.2em;
            cursor: pointer;
            color: $button-blue; // İkon rengi
        }

        &-list {
            &-item {
                padding: 10px 0;
                border-bottom: 1px solid $Windswept-Beach;
                position: relative;

                &-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &-category {
                    font-size: 13px;
                    color: $nickel; // Kategori yazı rengi
                }

                &-name {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 5px 0;
                }

                &-tweets {
                    font-size: 0.8em;
                    color: $nickel; // Tweet sayısı yazı rengi
                }

                &-dropdown {
                    font-size: 11px;
                    color: $trolley-grey; // Dropdown ikon rengi
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    cursor: pointer;
                }
            }
        }

        &-show-more {
            text-align: center;
            font-size: 15px;
            color: $button-blue;
            cursor: pointer;
            margin-top: 10px;
            // border-top: 1px solid $line-color-Windswept-Beach;
        }
    }

    .left {
        flex: 0 0 20%;
        /* Sol kısımın genişliği */
        background-color: $white;
        padding: 1rem;
        box-sizing: border-box;

        &__friends {
            margin-top: 16px;
            background-color: $zhēn-zhū-bái-pearl;
            padding: 16px;
            border-radius: 16px;

            &-header {
                margin-bottom: 16px;

                &-title {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }

            &-list {
                &-item {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 10px 0;
                    border-bottom: 1px solid $Morning-Haze;

                    &-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    &-info {
                        flex: 1;

                        &-certified {
                            display: flex;
                            align-items: center;

                            &-name {
                                font-size: 16px;
                                color: $carbon;
                                margin-right: 5px;

                                &-tick {
                                    font-size: 16px;
                                    color: $button-blue;
                                    margin-left: 4px;
                                }
                            }
                            &-img {
                                width: 16px;
                                height: 16px;
                            }

                        }

                        // &-name {
                        //     font-size: 16px;
                        //     font-weight: bold;
                        //     display: flex;
                        //     align-items: center;

                        //     &-tick {
                        //         font-size: 16px;
                        //         color: $backgroundcolor-button-blue;
                        //         margin-left: 4px;
                        //     }
                        // }

                        &-username {
                            font-size: 14px;
                            color: $Space-Convoy;
                        }
                    }

                    &-follow {
                        background-color: $zhēn-zhū-bái-pearl;
                        color: $button-blue;
                        border-radius: 16px;
                        padding: 6px 12px;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        border: 1px solid;
                    }

                    &-show-more {
                        text-align: center;
                        font-size: 15px;
                        color: $button-blue;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

