@charset "UTF-8";
body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

.sidebar {
  flex: 0 0 22%;
  /* Yan barın genişliği */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  border-right: 0.5px solid #ddd;
  /* Sağ tarafa ince çizgi*/
}
.sidebar__button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
}
.sidebar__button--twitter {
  color: #1ea1f2;
  font-size: 32px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__button-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar__text {
  color: #333333;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.sidebar__icon {
  font-size: 24px;
}
.sidebar__tweet-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 32px;
  width: 150px;
  background-color: #1ea1f2;
  color: #ffffff;
}

.content {
  /* Orta kısmın genişliği */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  border-right: 0.5px solid #ddd;
  /* Sağ tarafa ince çizgi*/
}
.content__header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  /* Header altına çizgi */
}
.content__navbar {
  display: flex;
  align-items: center;
}
.content__title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.content__star {
  display: flex;
  align-items: center;
}
.content__star-image {
  width: 24px;
  height: 24px;
}
.content__post-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  border-bottom: 9px solid #e7ecf0;
  /* Altına çizgi */
  padding-bottom: 10px;
  /* Çizgiye biraz boşluk */
}
.content__post {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 8px;
}
.content__post-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.content__post-text {
  font-size: 16px;
  color: #828282;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content .content__main {
  padding: 20px;
}
.content .content__main-section {
  margin-bottom: 15px;
}
.content .content__main-section-user {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
}
.content .content__main-section-user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.content .content__main-section-user-info-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.content .content__main-section-user-info-name {
  font-size: 16px;
}
.content .content__main-section-user-certified-img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}
.content .content__main-section-user-time {
  font-size: 16px;
  color: #828282;
}
.content .content__main-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
.content .content__main-user2 {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}
.content .content__main-user2-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.content .content__main-user2-info-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.content .content__main-user2-info-name {
  font-size: 16px;
  font-weight: bold;
}
.content .content__main-user2-certified-img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}
.content .content__main-user2-meta {
  display: flex;
  align-items: center;
}
.content .content__main-user2-meta-time {
  font-size: 14px;
  color: #828282;
  margin-right: 5px;
}
.content .content__main-tweet {
  margin-left: 51px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.content .content__main-tweet-text {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content .content__main-tweet-text-hashtag {
  color: #1ea1f2;
}
.content .content__main-tweet-img {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
}
.content .content__main-tweet-text-hashtag-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 11px;
}
.content .content__main-tweet-text-hashtag-actions-img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.content__toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin-left: 9%;
}
.content__toolbar-img {
  width: 24px;
  height: 24px;
}
.content__toolbar-extra {
  display: flex;
  gap: 15px;
  margin-left: 45%;
}
.content__toolbar .content__toolbar-extra {
  display: flex;
  align-items: center;
}
.content__toolbar .content__toolbar-extra-img {
  margin: 0 10px;
}
.content__toolbar .content__toolbar-extra .vertical-line {
  width: 1px;
  height: 24px;
  background-color: #bdbdbd;
}
.content__toolbar .content__toolbar-extra-button {
  width: 98px;
  height: 42px;
  background-color: #a5d9fa;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.content__toolbar .content__toolbar-extra-button-text {
  color: #ffffff;
}

.right {
  flex: 0 0 26%;
  /* Sağ kısım genişliği */
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}
.right__search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 32px;
  background-color: #e7ecf0;
  /* Arka plan rengi */
}
.right__search-icon {
  font-size: 20px;
}
.right__search-icon.custom-icon {
  color: #828282;
}
.right__search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 8px;
  border-radius: 32px;
  background-color: #e7ecf0;
}
.right__search-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.right__trends {
  margin-top: 16px;
  background-color: #f6f8fa;
  padding: 16px;
  border-radius: 16px;
}
.right__trends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right__trends-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #16161a;
}
.right__trends-settings {
  font-size: 1.2em;
  cursor: pointer;
  color: #1ea1f2;
}
.right__trends-list-item {
  padding: 10px 0;
  border-bottom: 1px solid #e2e4e6;
  position: relative;
}
.right__trends-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right__trends-list-item-category {
  font-size: 13px;
  color: #929292;
}
.right__trends-list-item-name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.right__trends-list-item-tweets {
  font-size: 0.8em;
  color: #929292;
}
.right__trends-list-item-dropdown {
  font-size: 11px;
  color: #828282;
  position: absolute;
  right: 0;
  bottom: 10px;
  cursor: pointer;
}
.right__trends-show-more {
  text-align: center;
  font-size: 15px;
  color: #1ea1f2;
  cursor: pointer;
  margin-top: 10px;
}
.right .left {
  flex: 0 0 20%;
  /* Sol kısımın genişliği */
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}
.right .left__friends {
  margin-top: 16px;
  background-color: #f6f8fa;
  padding: 16px;
  border-radius: 16px;
}
.right .left__friends-header {
  margin-bottom: 16px;
}
.right .left__friends-header-title {
  font-size: 1.2em;
  font-weight: bold;
}
.right .left__friends-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  border-bottom: 1px solid #e1e8ed;
}
.right .left__friends-list-item-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.right .left__friends-list-item-info {
  flex: 1;
}
.right .left__friends-list-item-info-certified {
  display: flex;
  align-items: center;
}
.right .left__friends-list-item-info-certified-name {
  font-size: 16px;
  color: #333333;
  margin-right: 5px;
}
.right .left__friends-list-item-info-certified-name-tick {
  font-size: 16px;
  color: #1ea1f2;
  margin-left: 4px;
}
.right .left__friends-list-item-info-certified-img {
  width: 16px;
  height: 16px;
}
.right .left__friends-list-item-info-username {
  font-size: 14px;
  color: #657786;
}
.right .left__friends-list-item-follow {
  background-color: #f6f8fa;
  color: #1ea1f2;
  border-radius: 16px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
}
.right .left__friends-list-item-show-more {
  text-align: center;
  font-size: 15px;
  color: #1ea1f2;
  cursor: pointer;
  margin-top: 10px;
}/*# sourceMappingURL=index.css.map */